<div class="dual-row">
    <div class="first-row">
        <button mat-raised-button (click)="addSquare()">Add Square</button>
        <button mat-button (click)="saveLayout()" [disabled]="boxes?.length === 0">Save Layout</button>
        <button mat-button (click)="resetLayout()" [disabled]="boxes?.length === 0">Reset Layout</button>
    </div>

    <div class="second-row">
        <div class="canvas-boundary">
            <draggable-box *ngFor="let box of boxes; index as i" [box]="box"
                           [loadedSize]="loadedLayout?.boxes[i]"
                           (remove)="removeBox(box)"></draggable-box>
        </div>
    </div>
</div>
