.dual-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .first-column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 20px 0;
    }
}

.canvas-boundary {
    border: dotted #ccc 2px;
    height: 400px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 400px;
}
