:host {
    display: block;
    height: 75px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 75px;
}

.draggable-box {
    border: solid 1px #ccc;
    cursor: move;
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    resize: both;
    overflow: auto;
    z-index: 1;
    width: 75px;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.draggable-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    z-index: 2;
}
.drag-handle {
    height: 100%;
    width: 100%;
    z-index: 0;
}
.resize-handle-target {
    bottom: 0;
    height: 10px;
    position: absolute;
    right: 0;
    width: 10px;
    z-index: 1;
}
